<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<div th:fragment="overViewFragment">
    <div style="width:1300px; height:100px; background-color:skyblue"></div>
    <div class="container d-flex align-items-center">
        <img class="rounded-circle me-1"
             width="150"
             height="150"
             src="https://avatars.githubusercontent.com/u/137270898?s=96&v=4"
             alt
             style="position:relative; left:50px; bottom:40px">
        <p class="fw-bold"
           style="position:relative; left:70px; bottom:20px; font-size:35px">홍길동</p>
        <p class="fw-bold"
           style="position:relative; right:30px; top:10px">Diamond I(대충 임시티어)</p>
        <div class="progress" style="position:relative; width:50%; right:220px; top:30px; height:25px">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow=""
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:50%">50%</div>
        </div>
    </div>
    <div class="d-flex gap-5 justify-content-center py-3" style="border-bottom: 3px solid lightgray">
        <a href="/user/myPage" class="text-decoration-none fw-bold" style="color:black">오늘의 학습목록</a>
        <a href="/user/myPage/solved" class="text-decoration-none fw-bold" style="color:black">문제</a>
        <a href="/user/myPage/history" class="text-decoration-none fw-bold" style="color:black">히스토리</a>
        <a href="/user/myPage/overView" class="text-decoration-none fw-bold"
           style="color:black; border-bottom: 3px solid black">개요</a>
        <a href="#" class="text-decoration-none fw-bold" style="color:black">내가 쓴 글</a>
    </div>

    <p style="height:40px"></p>

    <div class="card p-5 gap-2">
        <p class="fw-bold" style="font-size:30px">당신의 학습 형태</p>

        <div class="row">
            <div class="col" style="height:45%; width:45%">
                <canvas id="myChart" width="100px" height="100px"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'radar',
                    data: {
                        labels: ['수학', '구현', '자료구조', '정수론', 'DP', '그리디',
                            '탐색', '그래프', '트리', '투 포인터', '최단 경로', '정렬'],
                        datasets: [{
                            label: '# of Yours',
                            data: [5, 10, 10, 15, 24, 27, 27, 30, 40, 50, 60, 100]
                        },
                            {
                                label: '# of UserAverage',
                                data: [10, 20, 40, 65, 54, 21, 22, 3, 4, 5, 0, 79]
                            }
                        ]
                    },
                    options: {
                      responsive: true,
                        plugins: {
                          title: {
                              display: true
                          }
                        },
                        scales: {
                          r: {
                              ticks: {
                                  stepSize: 20
                              }
                          }
                        }
                    }
                });
            </script>

            <div class="col p-5" style="height:45%; width:45%; border-left: 2px solid lightgray">
                <div class="container gap-5" style="border-bottom: 2px solid lightgray; height:300px">
                    <span class="fw-bold" style="font-size:30px">종합평가</span>
                    <p style="font-size: 20px">당신은 뭐와 뭐에서 아쉬움을 보이지만요..... 이건 잘하네요~ ㅋ</p>
                </div>
                <div class="container">
                    <span class="fw-bold" style="font-size:30px">학습이 필요한 영역</span>
                    <p style="font-size: 20px">그리디 알고리즘 ㅋ</p>
                </div>
            </div>
        </div>
    </div>

    <p style="height:40px"></p>


</div>
</html>