<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<div th:fragment="solvedFragment">
  <div style="width:1300px; height:100px; background-color:skyblue"></div>
  <div class="container d-flex align-items-center">
    <img class="rounded-circle me-1"
         width="150"
         height="150"
         src="https://avatars.githubusercontent.com/u/137270898?s=96&v=4"
         alt
         style="position:relative; left:50px; bottom:40px">
    <p class="fw-bold"
       style="position:relative; left:70px; bottom:20px; font-size:35px">홍길동</p>
    <p class="fw-bold"
            style="position:relative; right:30px; top:10px">Diamond I(대충 임시티어)</p>
    <div class="progress" style="position:relative; width:50%; right:220px; top:30px; height:25px">
      <div class="progress-bar"
           role="progressbar"
           aria-valuenow=""
           aria-valuemin="0"
           aria-valuemax="100"
           style="width:50%">50%</div>
    </div>
  </div>
  <div class="d-flex gap-5 justify-content-center py-3" style="border-bottom: 3px solid lightgray">
    <a href="/user/myPage" class="text-decoration-none fw-bold" style="color:black">오늘의 학습목록</a>
    <a href="#" class="text-decoration-none fw-bold"
       style="color:black; border-bottom: 3px solid black">문제</a>
    <a href="#" class="text-decoration-none fw-bold" style="color:black">히스토리</a>
    <a href="#" class="text-decoration-none fw-bold" style="color:black">개요</a>
    <a href="#" class="text-decoration-none fw-bold" style="color:black">내가 쓴 글</a>
  </div>

  <p style="height:20px"></p>
  <p class="d-flex fw-bolder" style="font-size:25px">홍길동이(가) 해결한 문제</p>

  <table style="width:100%; text-align: center">
    <tr style="height:40px; border-bottom:3px lightgray solid">
      <th style="width:10%">#</th>
      <th style="width:55%">제목</th>
      <th style="width:5%">Tag</th>
      <th style="width:15%">푼 사람 수</th>
      <th style="width:15%">평균 시도</th>
    </tr>
    <tr style="height:40px; border-bottom:3px lightgray solid">
      <td><a href="#" class="text-decoration-none"
             style="color:black">100123</a></td>
      <td><a href="#" class="text-decoration-none"
             style="color:black">배현호가못푼희대의썅같은문제</a></td>
      <td class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">Click</button>
        <div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">
          <p>
            대충 유형1
          </p>
          <p class="mb-0">
            대충 유형2
          </p>
        </div>
      </td>
      <td>999,999</td>
      <td>9.9</td>
    </tr>
    <tr style="height:40px; border-bottom:3px lightgray solid">
      <td><a href="#" class="text-decoration-none"
             style="color:black">10002</a></td>
      <td><a href="#" class="text-decoration-none"
             style="color:black">배현호가못푼희대의썅같은문제123</a></td>
      <td class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">Click</button>
        <div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">
          <p>
            대충 유형1
          </p>
          <p class="mb-0">
            대충 유형2
          </p>
        </div>
      </td>
      <td>999,999</td>
      <td>9.9</td>
    </tr>
  </table>


</div>
</html>