<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<div layout:fragment="content">
  <div class="p-2" style="width:1300px; height:70px; background-color:gray">
    <span class="fw-bold" style="font-size:30px;color:white">
      유형별 문제 목록<span style="font-size: 20px"> #[[${typeName}]]</span>
    </span>
  </div>
  <p style="height:20px"></p>
  <p class="d-flex fw-bolder" style="font-size:25px"></p>

  <table style="width:100%; text-align: center">
    <tr style="height:40px; border-bottom:3px lightgray solid">
      <th style="width:10%">#</th>
      <th style="width:55%">제목</th>
      <th style="width:5%">Tag</th>
      <th style="width:15%">푼 사람 수</th>
      <th style="width:15%">평균 시도</th>
    </tr>
  </table>
</div>
</html>